@page "/new-bug"
@model BugTrackerUI.Pages.NewBugModel

<h3>Add New Bug</h3>
<p>This dashboard will begin to fill with widgets as you develop.</p>

<EditForm></EditForm>


@{
    public Bug AddBug = new Bug();
}
